.Container-OrderTourTable {
    width: 65% !important;
    padding-bottom: 40px;
    background-color: #fff;

    .css-11xur9t-MuiPaper-root-MuiTableContainer-root {


        .css-34nofg-MuiTableRow-root {
            height: 85px !important;
        }

        box-shadow: none !important;

    }
}