.Container-OrderTourTotal {
    background-color: #fff;
    width: 34.9%;

    .css-11xur9t-MuiPaper-root-MuiTableContainer-root {
        box-shadow: none !important;

        .css-34nofg-MuiTableRow-root {
            height: 70px !important;


            td {
                border: none !important;
            }
        }
    }
}